<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--
        A pipe separated list of content ID's. When a publish occurs if the item being published is one of these items,
        or a child of one of these items then the HTML cache isn't cleared.
      -->
      <setting name="CustomHtmlCacheClearer.IgnoreItems" value="/sitecore/content"/>
    </settings>

    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>
        <handler type="CustomHtmlCacheClearer.HtmlCacheClearer, CustomHtmlCacheClearer" method="ClearCache">
          <sites hint="list">
            <site>website</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>
        <handler type="CustomHtmlCacheClearer.HtmlCacheClearer, CustomHtmlCacheClearer" method="ClearCache">
          <sites hint="list">
            <site>website</site>
          </sites>
        </handler>
      </event>
      <event name="indexing:end">
        <handler type="CustomHtmlCacheClearer.IndexCacheClearer, CustomHtmlCacheClearer" method="Clear"/>
      </event>
    </events>
  </sitecore>
</configuration>